{% extends 'base.html' %}

{% block content %}
<h3>Read Blog</h3>
<form method="post">
    Title <input type="text" name="title" autocomplete="off" required value="{{ movie.title }}">
    Date <input type="text" name="year" autocomplete="off" required value="{{ movie.year }}">
    {% if current_user.is_authenticated %}
    <input class="btn" type="submit" name="submit" value="Update">
    {% endif %}
    <br>
    <textarea type="text" name="text" autocomplete="off" required value="{{ movie.text }}" cols="70" rows="30">{{ movie.text }}</textarea>
</form>
{% endblock %}
